<ul class="nav nav-tabs nav-justified mb-3">
  <li class="nav-item"><%= link_to 'Items', items_path %></li>
  <li class="nav-item"><%= link_to 'Outfits', outfits_path %></li>
  <li class="nav-item"><%= link_to 'Profile', user_path(@user) %></li>
</ul>
  
<h1>コーディネート一覧</h1>
  
<div class="table-responsive">
<table id="outfit-table" class="table table-bordered table-sm">
  <thead class="thead-light">
    <tr>
      <th nowrap>名称</th>
      <th nowrap>トップス</th>
      <th nowrap>アウター/ジャケット</th>
      <th nowrap>パンツ</th>
      <th nowrap>バッグ</th>
      <th nowrap>シューズ</th>
      <th nowrap>登録日</th>
    </tr>
  </thead>
  <tbody>
    <% @outfits.each do |outfit| %>
      <tr>
        <td><%= link_to outfit.title, outfit %></td>
        <td nowrap>
          <% if Item.find_by(id: outfit.tops) %>
            <%= Item.find_by(id: outfit.tops).item_name %><br>
            <%= Item.find_by(id: outfit.tops).brand %><br>
            <%= Item.find_by(id: outfit.tops).color %>
          <% else %>
            <p>なし</p>
          <% end %>
        </td>
        <td><%= Item.find_by(id: outfit.outer)?  Item.find_by(id: outfit.outer).item_name : "なし" %></td>
        <td><%= Item.find_by(id: outfit.pants)?  Item.find_by(id: outfit.pants).item_name : "なし" %></td>
        <td><%= Item.find_by(id: outfit.bag)?  Item.find_by(id: outfit.bag).item_name : "なし" %></td>
        <td><%= Item.find_by(id: outfit.shoes)?  Item.find_by(id: outfit.shoes).item_name : "なし" %></td>
        <td><%= outfit.created_at.strftime('%Y/%m/%d') %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<%= paginate @outfits %>

<div class="text-right">
  <%= link_to '新規コーディネート登録', new_outfit_path, class: 'btn btn-primary' %>
</div>